.modal-header
  %button.close{'ng-click':'cancel()', type: 'button'}
    %span{'aria-hidden': 'true'} &times;
  %h4.modal-title Administrér roller
.modal-body
  .form-group
    %label{for:'meeting-select'}
      Mødetype
    %select.form-control#meeting-select{'ng-model': 'activeTemplate',
    'ng-options':'option as option.name for option in templates track by option.id'}
    %label{for:'user-list'}
      Ansvarlige
    %ul.collection.with-header#user-list
      %li.collection-item{'ng-repeat': 'user in role.users'}
        %div
          {{ user.name }}
          %a.secondary-content{'ng-click': 'deleteRole(user)'}
            %i.material-icons remove_circle_outline
  .form-inline
    .form-group
      %select.form-control{'ng-model': 'activeUser',
      'ng-options':'user as user.name for user in users track by user.id'}
    .btn.waves-effect{'ng-click': 'addRole()'}
      Tilføj

.modal-footer
  %button.btn-flat{'ng-click':'cancel()'} Luk