.fixed-action-btn.click-to-toggle{'ng-show': 'user.is_admin || user.is_moderator'}
  %a.btn-floating.btn-large.red
    %i.material-icons
      add
  %ul
    %li{'ng-repeat':'action in actions', 'ng-hide': '!user.is_admin && action.requireAdmin'}
      %a.btn-floating.tooltipped{class:'{{action.color}}', 'ng-click':'open(action)',
        data:{'delay': '50', 'position': 'left', tooltip:'{{action.tooltip}}'}}
        %i.material-icons
          {{ action.icon }}
