.fixed-action-btn.click-to-toggle{'ng-show':"user.role_names.includes('admin')"}
  %a.btn-floating.btn-large.red
    %i.material-icons{'ng-hide':'showSpinner'}
      add
    .preloader-wrapper.small.active{'ng-show':'showSpinner'}
      .spinner-layer.spinner-blue-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
  %ul
    %li{'ng-repeat':'action in actions'}
      %a.btn-floating.tooltipped{class:'{{action.color}}', 'ng-click':'open()',
        data:{'delay': '50', 'position': 'left', tooltip:'{{action.tooltip}}'}}
        %i.material-icons
          {{ action.icon }}
