/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__header__3YfeH {
  padding: .25em 1em 0;
  text-align: center;
  position: relative;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__spanLink__3pJYn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__card__3rMJV {
  background-color: #43b5ad;
  color: #fff;
  margin: 0 1rem 1rem 0;
  font-family: Roboto,Helvetica Neue,Arial,sans-serif;
  border-bottom: .2rem solid;
  border-radius: .1rem .1rem .2rem .2rem;
  z-index: 1;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__fullWidth__1PK3a {
  width: 20%;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__narrow__2rA2g {
  width: 30%;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__title__Rb6bv {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__timestamp__1WOI_ {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__timestamp__1WOI_ span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: .8rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__links__3H3DS {
  margin-top: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #43b5ad;
  z-index: 10;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__link__3w5sf {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__link__3w5sf a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .6rem 0;
  width: 100%;
  font-size: .8rem;
  line-height: 1.4rem;
  color: #fff;
  text-decoration: none;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__link__3w5sf a svg {
  height: 1.4rem;
  width: 1.4rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.MeetingCard__link__3w5sf a:hover {
  background-color: #359089;
}

@media (max-width: 400px) {
  /* line 1, /councils/app/assets/webpack/app-bundle.css */
  .MeetingCard__card__3rMJV {
    width: 100%;
    margin: 0 0 1em;
  }
}
/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Header__main__3Dsjn {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 65rem;
  margin: 0 auto;
  padding: .5rem 0 1rem;
  border-bottom: .0625rem solid #e5e5e5;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Header__logo__WUys0 {
  font-size: 1.5rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Header__right__10sf_ {
  margin-left: auto;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Sidebar__sidebar__2Ay8n {
  background-color: #fafafa;
  height: 26rem;
  width: 100%;
  border: .0625rem solid #e5e5e5;
  border-radius: .25rem;
  position: relative;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Sidebar__tabs__FcRBC {
  background-color: #fafafa;
  color: #000;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Sidebar__wrapper__2ewtQ {
  padding: 0 1rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Sidebar__button__VTKEC {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.SecretModal__content__5ui6q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.SecretModal__content__5ui6q span {
  font-size: 4rem;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Meetings__main__319Fn {
  position: relative;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 65rem;
  margin: 1rem auto;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Meetings__main__319Fn, .Meetings__meetings__2BoYP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Meetings__meetings__2BoYP {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Meetings__meetings__2BoYP:after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

/* line 1, /councils/app/assets/webpack/app-bundle.css */
.Meetings__sidebar__12Xmc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20em;
  flex: 0 0 20em;
}

@media (max-width: 400px) {
  /* line 1, /councils/app/assets/webpack/app-bundle.css */
  .Meetings__main__319Fn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 1, /councils/app/assets/webpack/app-bundle.css */
  .Meetings__meetings__2BoYP {
    display: block;
    margin-left: 0;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* line 15, /councils/app/assets/stylesheets/application_non_webpack.css.scss */
input[type='text'] {
  min-width: 400px;
}

/* line 19, /councils/app/assets/stylesheets/application_non_webpack.css.scss */
.flash.error {
  color: beige;
  background: red;
  padding: 20px;
}

/* line 25, /councils/app/assets/stylesheets/application_non_webpack.css.scss */
body {
  background-color: #FAFAFA;
  margin: 0 0.5rem;
  font-family: 'Roboto', sans-serif;
}

/* line 31, /councils/app/assets/stylesheets/application_non_webpack.css.scss */
header {
  height: 3rem;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
}
/* line 38, /councils/app/assets/stylesheets/application_non_webpack.css.scss */
header .logo {
  font-size: 1.5rem;
  margin-left: 3.5rem;
}
