@import "../../../assets/styles/app-variables";

.actionBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: $container-width;
}

.chips {
  display: flex;
  flex-wrap: wrap;

  div {
    max-width: 47%;
    overflow: hidden;
  }
}

.options {
  z-index: 1000;
  display: flex;
  margin: 0 auto;
  align-content: space-between;
}

@media (min-width: $breakpoint-s) {
  .actionBar {
    flex-direction: row;
    margin: 0 auto;
  }

  .options {
    margin: 0 0 0 auto;
  }
}