.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  span {
    font-size: 4rem;
  }
}

.code {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indicator {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0 -2rem 0 0;
}