@import "../../../assets/styles/app-variables";

.sidebar {
  background-color: #FAFAFA;
  width: 100%;
  border: 0.0625rem solid #e5e5e5;
  border-radius: 0.1rem 0.1rem 0.2rem 0.2rem;
  font-weight: 300;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}

.tabs {
  background-color: #FAFAFA;
}

.wrapper {
  padding: 0 1rem;
}

.button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.driveButtons {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.deleteForm {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(116, 116, 116, 0.2);
}

@media (min-width: 700px) {
  .sidebar {
    height: 25rem;
    position: relative;
    margin-left: 1rem;
  }
}