@import "../../../assets/styles/app-variables";

.sidebar {
  background-color: #FAFAFA;
  height: 26rem;
  width: 100%;
  border: 0.0625rem solid #e5e5e5;
  border-radius: 0.25rem;
}

.tabs {
  background-color: #FAFAFA;
  color: black;
}

.wrapper {
  padding: 0 1rem;
}