@import "../../../assets/styles/app-variables";

.main {
  height: $header-height;
  display: flex;
  align-items: flex-end;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0.5rem 0 1rem 0;
  border-bottom: 0.0625rem solid #e5e5e5;
}

.logo {
  font-size: 1.5rem;
}

.right {
  margin-left: auto;
}