@import "../../../assets/styles/app-variables";

.main {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: $container-width;
  margin: 1rem auto;
}

.meetings {
  margin-right: -3rem;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.meetings:after {
  content:"";
  flex: auto;
}

.progress {
  max-width: $container-width;
}

.sidebarVisible {
  display: flex;
  flex: 0 0 20rem;
}

.sidebarHidden {
  display: none;
}

@media (max-width: 700px) {
    .main {
        flex-direction: column;
    }

    .meetings {
        display: block;
        margin: 0;
    }
}