@import "../../../assets/styles/app-variables";

.main {
  display: flex;
  position: relative;
  max-width: $container-width;
  flex-direction: column;
  margin-top: 0.5rem;
}

.meetings {
  display: block;
  flex-flow: row wrap;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.meetings:after {
  content:"";
  flex: auto;
}

.progress {
  max-width: $container-width;
}

.sidebarVisible {
  display: flex;
  flex: 0 0 20rem;
}

.sidebarHidden {
  display: none;
}

@media (min-width: $breakpoint-s) {
    .main {
      flex-direction: row;
      margin: 1rem auto;
    }
    .meetings {
        display: flex;
        max-height: 70vh;
        overflow-y: auto;
    }
}

@media (min-width: $breakpoint-m) {
  .meetings {
    margin-left: -0.5rem;
  }
}