.row.council-list{'ng-hide':'hideCouncilPicker'}
  .col-md-6.col-md-offset-3.text-center
    %h2 Vælg et elevråd
    .collection
      %a.collection-item{'ui-sref':"root.councils.meetings.list({council:'gefion'})"}
        Gefion Gymnasium
.progress{'ng-show':'working'}
  .indeterminate
%div{'ui-view':'content'}
%div{'ui-view':'fab'}