.row.council-list{'ng-hide':'hideCouncilPicker'}
  .col-md-6.text-center
    %h2 Vælg et elevråd
    .collection
      %a.collection-item{'ui-sref':"root.councils.meetings.list({council:'gefion'})"}
        Gefion Gymnasium
%div{'ui-view':'content'}
%div{'ui-view':'fab'}