%nav.navbar.navbar-light.container
  / Brand
  %a.navbar-brand{'ui-sref': 'root'} Gefions Elevråd
  / Links
  %ul.nav.navbar-nav{'ng-show':'councilChosen'}
    %li.nav-item
      %a.nav-link{'ui-sref': 'root.councils.meetings.list'} Møder
    -#'%li.nav-item
      %a.nav-link{'ui-sref': 'root.councils.documents.list'} Vedtægter
  %ul.nav.navbar-nav.pull-right
    %li.nav-item
      %a.nav-link
        {{ user.name }}
    / %li.nav-item
    /  %a.nav-link{'ng-if': 'user.council.name', 'ui-sref': 'root.councils.meetings.list({council:user.council.identifier})'} {{ user.council.name }}
    %li.nav-item{'ng-if': '!user.name'}
      %a.nav-link{'ng-click': "authenticate('google')"} Log ind
    %li.nav-item{'ng-if': 'user.name'}
      %a.nav-link{'ng-click': 'signOut()'} Log ud