@import "bootstrap";
@import "materialize";

@import "angular-bootstrap-datetimepicker/src/scss/datetimepicker";

// Custom
@import "meetings";
@import "navbar";
@import 'documents';


.profile-miniature{
  width: 25px;
  float: right;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
