$brand-primary: #43B5AD;
$brand-warning: #3CA39C;

@import "bootstrap/scss/bootstrap";
@import "angular-bootstrap-datetimepicker/src/scss/datetimepicker";
@import "meetings";
@import "navbar";
@import 'documents';
//@import "angular-xeditable/dist/css/xeditable";

.profile-miniature{
  width: 25px;
  float: right;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
