.editor {
  color: white;
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: $brand-primary;
  outline: none;
}
.paragraph {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}