.meeting-card{
  color: #ffffff;

  a {color:white;}
}

.card-img-top{
  width: 100%;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info{
  padding-bottom:30px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  transition: border 0.3s;
  text-align: center;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.datetimepicker{
  width: 100% !important;

  .table{
    td{
      height: 10px;
    }
  }
}

.meeting-date{
  font-size: 12px;
  color: ghostwhite;
}

.card-text{
  margin-bottom: 0;
}