.meeting-card{
  color: white;
  
  .list-group-item{
    background-color: $brand-primary;
  }

  .list-group-item:hover{
    background-color: darken($brand-primary, 10);
  }

  .list-item-warning{
    background-color: $brand-danger;
  }

  .list-item-warning:hover{
    background-color: darken($brand-danger, 10);
  }

  .div-link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
  }

  a {
    color:white;
    text-decoration: none;
  }
}

.card-img-top{
  width: 100%;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info{
  padding-bottom:30px;
}

.qr-holder {
  a {
    margin-bottom: 1rem;
  }
}

input[type="text"] {
  padding: 10px;
  border: none;
  transition: border 0.3s;
  text-align: center;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.datetimepicker{
  width: 100% !important;

  .table{
    td{
      height: 10px;
    }
  }
}

.meeting-date{
  font-size: 12px;
  color: ghostwhite;
}

.card-text{
  margin-bottom: 0;
}