.container
  .row
    .col-md-8.col-md-offset-2{'ng-repeat': "paragraph in paragraphs | orderBy: 'id' track by $index "}
      .card.meeting-card
        .card-block.card-primary.text-center
          /%a.pull-left{'ng-click': 'previousVersion(paragraph)'}
          /  %i.fa.fa-arrow-left
          %a.pull-right{'ng-click': 'deleteParagraph(paragraph)'}
            %i.fa.fa-close
          .paragraph
            %p.card-text.paragraph-text(click-to-edit = "paragraph.description" callback='suggest(paragraph,description)')
              &#167;{{ $index + 1 }} {{ paragraph.description || "empty" }}
      .col-md-12{'ng-repeat': "suggestion in paragraph.suggestions | orderBy: 'id' track by $index "}
        .card.meeting-card
          .card-block.card-primary.text-center
            {{ suggestion.description }}
            %span{'ng-if': "user.role_names.includes('admin')"}
              %a{'ng-click': 'acceptSuggestion(suggestion)'}
                %i.fa.fa-check
              %a{'ng-click': 'deleteSuggestion(paragraph,suggestion)'}
                %i.fa.fa-minus
            %img{'ng-src':'{{paragraph.author.image}}?width=50',
                  class: 'profile-miniature',
                  title:'Suggested by {{paragraph.author.name}}' }
    .col-md-6.col-md-offset-3.text-center
      %input{type:'text', 'ng-model':'paragraphText', placeholder:'enter paragraph text'}
      %br
      %a{'ng-click': 'createParagraph()',  'ng-if': 'user.image'}
        %i.fa.fa-plus.fa-2x

%hr/