.container
  .row
    .col-md-3{"ng-repeat" => "meeting in meetings"}
      .card.meeting-card
        .card-block.card-primary.text-center{style:"background-color: {{ meeting.color }}"}
          %p.card-text
            {{ meeting.name }}
          %span.meeting-date
            {{ readableDate(meeting.date) }}
        .card-block.card-warning.card-info
          .col-xs-2.col-xs-offset-2.text-center
            %a.card-link{'ng-href' => "/#/meetings/{{meeting.id}}"}
              %i.fa.fa-users
          .col-xs-2.col-xs-offset-4.text-center
            %a{'ng-click': 'destroyMeeting(meeting)', 'ng-if': "user.role_names.includes('admin')"}
              %i.fa.fa-trash
    .col-md-3.text-center
      %a{'ng-click': 'open()', 'ng-if': "user.role_names.includes('admin')"}
        %i.fa.fa-plus.fa-2x
%hr/