.modal-header
  %button.close{'ng-click':'cancel()', type: 'button'}
    %span{'aria-hidden': 'true'} &times;
  %h4.modal-title Tilføj et møde
.modal-body
  .form-group
    %label{for:'meeting-select'}
      Mødetype
    %select{'ng-model': 'meetingTemplate', class:'form-control', id:'meeting-select',
            'ng-options':'option as option.name for option in meetingOptions track by option.id'}
    %label{for:'datetime-select'}
      Dato og tid
    %input{class: 'form-control', disabled:true, id: 'datetime-select', value: '{{readableDate(meetingDate)}}' }
    %datetimepicker{'ng-model':'meetingDate'}
.modal-footer
  %button.btn.btn-default{'ng-click':'cancel()', :type => 'button' } Luk
  %button.btn.btn-primary{'ng-click':'ok()', type: 'button' } Tilføj