.modal-header
  %button.close{'ng-click':'cancel()', type: 'button'}
    %span{'aria-hidden': 'true'} &times;
  %h4.modal-title Tilføj et møde
.modal-body
  .form-group
    %label{for:'meeting-select'}
      Mødetype
    %select{'ng-model': 'newMeeting', 'ng-options':'option.name for option in meetingOptions', class:'form-control', id:'meeting-select'}
    %label{for:'datetime-select'}
      Dato og tid
    %input{class: 'form-control', disabled:true, id: 'datetime-select', value: '{{readableDate(newMeeting.date)}}' }
    %datetimepicker{'ng-model':'newMeeting.date'}
.modal-footer
  %button.btn.btn-default{'ng-click':'cancel()', :type => 'button' } Luk
  %button.btn.btn-primary{'ng-click':'ok()', type: 'button' } Tilføj