%section.row
  .text-center.col-md-6.col-md-offset-3
    %qrcode{data: '{{meeting.secret}}', size:'230', 'ng-if': "user.role_names.includes('admin')"}
    %h3 Attendees
%hr
.container
  .row
    %div.col-md-2.col-xs-4{'ng-repeat':'user in users'}
      .card.text-center
        %a.card-link{'ng-href': '/#/users/{{user.id}}'}
          %img.card-img-top{src: '{{ user.image }}?width=500'}
        %ul.list-group.list-group-flush
          %li.list-group-item
            %p
              {{user.name}}
