<!DOCTYPE html>
<html>
<head>
  <title>Councils</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Councils</a>
    <!-- Links -->
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Meetings</a>
      </li>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
